#banner
  = image_tag 'banner.jpg'
  %h1
    shout at an idiot,
    %br
    about a thing
%h2.bottom-heading Popular

%ul#popular-topics
  / start the loop here
  - 3.times do
    %li
      .top
        %p Do you think Obamacare is the best thing ever?
        .button shout about it!
      .pulldown
        %a.yes{ href: 'session.html' } YES!
        %a.no{ href: 'session.html' } NO!
        %a.observe{ href: 'session.html' } observe

%h2.bottom-heading Create a Topic
#create-topic
  %form{ method: 'POST', action: '/newtopic' }
    %input{ type: 'text', name: 'topic' }
    %input{ type: 'submit' }