You've been invited to shout at an idiot: 
<%= @path unless @path.nil? %>

<button id="itunes-download-button"> Download the APP! :) 
</button>

<script>
// console.log("shoutroulette://ShoutRoulette.com" +"<%= @path %>");
// // window.location = "shoutroulette://ShoutRoulette.com" + "<%= @path %>";
// $("#download-button").click(function() {
//   window.location ="itms-apps://itunes.apple.com/artist/appmosys/id331687329"
// });
// var now = new Date().valueOf();
// setTimeout(function () {
//     if (new Date().valueOf() - now > 3000) return;
//     //ios 7
//     //window.location =  "itms-apps://itunes.apple.com/app/id353372460"
	
//     //"https://itunes.apple.com/us/app/sleep-cycle-alarm-clock/id320606217?mt=8&v0=WWW-NAUS-ITSTOP100-PAIDAPPS&ign-mpt=uo%3D4";
    
// }, 2000);
// window.location = "shoutroulette://ShoutRoulette.com" + "<%= @path %>";

</script>