#static-header
  %h1 Manage Topics

#static-content
  %table
    - @topics.each do |topic|
      %tr
        %td= topic.title
        %td= link_to 'delete', remove_topic_path(topic), method: 'delete', confirm: 'you sure?'