#static-header
  %h1 Manage Topics

#static-content
  %ul
    - @topics.each do |topic|
      %li
        = topic.title
        = link_to 'remove', remove_topic_path(topic), method: 'delete', confirm: 'you sure?'