#static-header
  %h1 Calling someone stupid has never been easier.

#static-content
  %p Shout at an idiot, about a thing

  %p ShoutRoulette is the fastest, simplest way to yell at people you think are morons about the things you are right about. Just pick a topic, choose your opinion and in moments you will be matched up with someone who vehemently disagrees with you. Then just start screaming.

  %p Created by Jeff Escalante, Emin Israfil, Matt Klinman, and Stephen Peek at Comedy Hackday

  %iframe{ width: "420", height: "315", src: "http://www.youtube.com/embed/iTO4533gUzE", frameborder: "0", allowfullscreen: true }