#static-header
  %h1 Need something to get pissed about?

#static-content
  %p Try one of these:

  %p
    %a{ href: 'http://www.drudgereport.com/' } drudgereport.com
  %p
    %a{ href: 'http://www.huffingtonpost.com/' } huffingtonpost.com
  %p
    %a{ href: 'http://www.anncoulter.com/' } anncoulter.com
  %p
    %a{ href: 'http://www.algore.com/' } algore.com
  %p
    %a{ href: 'http://www.glennbeck.com/' } glennbeck.com
  %p
    %a{ href: 'http://onemillionmoms.com/' } onemillionmoms.com
  %p
    %a{ href: 'http://www.glaad.org/' } glaad.org
  %p
    %a{ href: 'http://www.dasani.com/' } dasani.com
  %p
    %a{ href: 'http://www.zico.com' } zico.com
  %p
    %a{ href: 'http://www.chipotle.com/' } chipotle.com
  %p
    %a{ href: 'http://www.mtv.com/' } mtv.com

%script
  mixpanel.track("get angry page");