
#static-header
	%h1 Calling someone stupid has never been easier.

#static-content
	%h1 Some of our favorite quotes about ShoutRoulette:

	%h2
		Can you shout at each other in different languages? (Of course.) How will you keep the naked people out? (They won’t.) Are you guys from Brooklyn? (They are.)
		%a{ href: 'http://www.slate.com/blogs/future_tense/2012/10/10/shoutroulette_video_chat_parody_website_lets_you_shout_at_strangers_who.html'}  -Slate
	%h2
		The ironic thing is that this hack is not terribly different from a legit startup...
		%a{ href: 'http://pandodaily.com/2012/10/09/meet-shoutroulette-a-comedy-hack-day-project-coded-entirely-in-capital-letters/'}  -Pando Daily
	%h2
		The topic doesn't have to be food-related.
		%a{ href: 'http://www.independent.co.uk/news/world/americas/if-you-really-have-to-yell-at-strangers-who-disagree-with-you-8208554.html '}  -The Independent
	%h2
		The team of four entrepreneurs and hackers has no financial backing and no business model, but demoed to one of the most engaged audiences we’ve ever seen at the New York Tech Meetup.
		%a{ href: 'http://upstart.bizjournals.com/companies/rebel-brands/2012/10/10/shout-roulette-demos-at-nytm.html'}  -Bizjournals 
	%h2
		Chipotle burritos
		%a{ href: 'http://www.thirteen.org/metrofocus/2012/10/obamas-cto-attends-ny-tech-meetup/'}  -PBS
	%h2
		Ce qui devait arriver arriva.
		%a{ href: 'http://www.ledevoir.com/opinion/blogues/les-mutations-tranquilles/361547/shoutroulette-un-nouveau-site-pour-canaliser-la-colere-numerique'}  -Le Devoir
	%h2
		I’m personally not above shouting at you for liking tuna fish sandwiches.
		%a{ href: 'http://neck2neck.com/contentzone/item/shoutroulette-startup-website-says-shout-for-a-better-world.html '}  -neck2neck
	%h2
		Un demo de este sitio que fue muy aplaudido en el New York Tech Meetup el martes pasado.
		%a{ href: 'http://rj45.mx/6855/shoutroulette-la-red-social-para-gritar/?utm_source=dlvr.it&utm_medium=twitter'}  -RJ45
	%h2	
		Think of it as rage 2.0
		%a{ href: 'http://www.smartplanet.com/blog/bulletin/shoutroulette-makes-yelling-at-people-an-internet-pastime/2294'}  -Smart Planet/CNet


%script
	mixpanel.track("about page");




/ %p
/ http://www.netties.be/v20/toon_artikel.php?id=17801&cat=Nieuws&zoekdatum=2012-10-11
/ %p
/ http://crankyasshuladancer.tumblr.com/post/33307455484/oh-my-god-http-www-shoutroulette-com
/ %p
/ http://rt-russian.livejournal.com/411474.html
/ %p
/ http://blog.ketchum.com/linkspotting-links-we-liked-last-week-2/
/ %p
/ http://www.wcrs.com/blog/20121012/its-a-friday-digital-round-up/
/http://www.fastcocreate.com/1681584/from-scatroulette-to-fitbitch-developers-and-comics-collide-on-comedy-hack-day#1